<header class="header">
	<div class="header-logo"></div>
	<nav class="header-menu">
		<ul class="header-menu-list">
			<li class="header-menu-list-item pr-1">Home</li>
			<li class="header-menu-list-item pr-1">Home</li>
			<li class="header-menu-list-item pr-1">Home</li>
			<li class="header-menu-list-item pr-1">Home</li>
			<li class="header-menu-list-item pr-1">Home</li>
			<li class="header-menu-list-item pr-1">Home</li>
			<li class="header-menu-list-item pr-1">Home</li>
			<li (nzVisibleChange)="change($event)" [nzDropdownMenu]="menu" class="header-menu-list-item" nz-dropdown>
				menu
        <span nz-icon nzType="caret-down" nzTheme="outline"></span>
			</li>
			<nz-dropdown-menu #menu="nzDropdownMenu">
				<ul nz-menu>
					<li nz-menu-item>1st menu item</li>
					<li nz-menu-item>2nd menu item</li>
				</ul>
			</nz-dropdown-menu>
		</ul>
		<div class="header-menu-icon">
      <span nz-icon nzType="search" nzTheme="outline" class="color-black"></span>
      <span nz-icon nzType="shopping" nzTheme="outline" class="color-black"></span>
      <span nz-icon nzType="user" nzTheme="outline" class="color-black"></span>
    </div>
	</nav>
</header>
