// == Breakpoints ===
$breakpoints: (
	small: 560px,
	medium: 768px,
	wide: 960px,
	large: 1024px,
	largest: 1280px,
	super-largest: 1440px,
);

//https://htmlcolorcodes.com/color-names/
$color: (
	primary: #004098,
	primary-light: #e5f0ff,
	primary-dark: #0074c9,
	yellow: #ffff00,
	green: #008000,
	red: #ff0000,
	accent-color: #717171,
	white-color: #fff,
	black-color: #000,
	gray-color: #f3f3f3,
	gray-color-300: #d8d8d8,
	gray-color-500: #aeaeae,
	gray-color-800: #3a3a3a,
	light-gray-color: #d7dddf,
	primary-color: #72aec8,
	bs-primary-rgb: (
		114,
		174,
		200,
	),
	light-color: #f8f9fa,
	dark-color: #212529,
	light-blue-color: #edf1f3,
	navbar-color-color: #131814,
	swiper-theme-color: #4a4a4a,
	swiper-pagination-color: #4a4a4a,
);

$font-size: (
	xs: 12px,
	sm: 14px,
	normal: 16px,
	lg: 18px,
	xl: 20px,
	xxl: 24px,
	xxxl: 32px,
);

$font-weight: (
	thin: 300,
	normal: 400,
	medium: 500,
	bold: 600,
);

$font-body: san-serif;

$header-height: 60px;
$footer-height: 80px;
