// == Breakpoints ===
$breakpoints: (
	small: 560px,
	medium: 768px,
	wide: 960px,
	large: 1024px,
	largest: 1280px,
	super-largest: 1440px,
);

//https://htmlcolorcodes.com/color-names/
$color: (
	yellow: #ffff00,
	green: #008000,
	red: #ff0000,
	accent: #717171,
	white: #fff,
	black: #000,
	gray: #f3f3f3,
	gray-300: #d8d8d8,
	gray500: #aeaeae,
	gray-800: #3a3a3a,
	light-gray: #d7dddf,
	primary: #72aec8,
	bs-primary-rgb: (
		114,
		174,
		200,
	),
	light: #f8f9fa,
	dark: #212529,
	light-blue: #edf1f3,
	navbar: #131814,
	swiper-theme: #4a4a4a,
	swiper-pagination: #4a4a4a,
);

$font-size: (
	xs: 12px,
	sm: 14px,
	normal: 16px,
	lg: 18px,
	xl: 20px,
	xxl: 24px,
	xxxl: 32px,
);

$font-weight: (
	thin: 300,
	normal: 400,
	medium: 500,
	bold: 600,
);

$font-body: san-serif;

$header-height: 60px;
$footer-height: 80px;
